*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  align-content: center;
  justify-content: center;
  display: flex;
  font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
  color: #7e4646;
  margin: 0 auto;
}

.bigbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  height: max-content;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
}

.container {
  // display: flex;
  // flex: 0 0 100%;
  justify-content: center;
}

.text {
  text-align: center;
  line-height: 35px;
}

.text p {
  font-size: 16px;
}

.rules {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  margin: 0 auto;
}

.rules ol {
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#messages {
  color: #7e4646;
  background-color: #fff;
  text-align: center;
  margin: 10px;
  padding: 10px;
  max-height: 100px;
  line-height: 40px;
  font-size: 25px;
}

button {
  padding: 20px 30px;
  background-color: crimson;
  margin: 20px;
  border: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
  cursor: pointer;
}

button:hover {
  background-color: rgb(172, 16, 47);
}

button:active {
  background-color: rgb(87, 6, 22);
}

button i {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #9c7575;
  font-size: 14px;
  margin-left: 10px;
}

h2 {
  margin: 30px;
}

h3 {
  margin: 20px 0 4px 0;
}
